<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <div class="row">
        <h3> Even-Odd boca aberta</h3>
      </div>
      <div class="row">
        <app-gamecontrol
          (elementAdded)="onIncrementaContador($event)"
          (counterStopped)="onCounterStopped()"
        ></app-gamecontrol>
        <hr>
        <div class="row" *ngFor="let value of values">
          <div class="col-xs-6">
            <app-even *ngIf="value % 2 === 0" [value]="{value: value}"></app-even>
          </div>
          <div class="col-xs-6">
            <app-odd *ngIf="value % 2 !== 0" [value]="{value: value}"></app-odd>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
